@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root{
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: #52ffa8;
    --Grayish-Blue: hsl(220deg 21.95% 16.08%);
    --Dark-Grayish-Blue: hsl(217.5deg 19.67% 23.92%);
    --Dark-blue: hsl(220deg 21.95% 16.08%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

html,
body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 0px;
}
